
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.navigation{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.studio{

    color: #2e2f42;
}

.nav-items{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}


.nav-items:hover{
    color: #404BBF;
}
.nav-items:focus{
    color: #404BBF;
}
.adres{
    font-style: normal;
}
.mail{
/*    font-family: "Roboto", sans-serif; */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.mail:hover{
    color: #404BBF;
}

.mail:focus{
    color: #404BBF;
}


.info{
    background-color:#2E2F42;
}

.header_first_section{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: white;
}

.button_first_section{
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    cursor: pointer;
}


.button_first_section:hover{
    background-color:#404BBF;
}


.button_first_section:focus{
    background-color:#404BBF;
}


.header_second_section{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text_info{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.third_section{
    background-color: #F4F4FD;
}

.header_third_section{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;

}

ul.list_third_section li.item_list {
    background-color: #FFFFFF;
}


.name_header{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: cemter;
    color: #2E2F42;
}

.text_name{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}


.header_portfolio{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
}

.header_app{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.text_app{
    font-weight:400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.foot_section{
    background-color: #2E2F42;
}


.foot_text{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.studio_footer{
    color: #F4F4FD;
}